.Naver-Dict-tooltip {
    width: 250px;
    z-index: 1000;
    position: absolute;
    height: 150px;
    background-color: #cfdfff;
    border: #7689fd solid 1px;
    border-radius: 3px;
    overflow: auto;
    opacity: 100 !important;
    display: flex;
    flex-direction: column;
    color: black;
}

.Naver-Dict-tooltip::-webkit-scrollbar {
    width: 6px;
}

.Naver-Dict-tooltip::-webkit-scrollbar-thumb {
    height: 10%;
    background: #217af4;
    border-radius: 10px;
}

.Naver-Dict-tooltip::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
}

.Naver-Dict-tooltip-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: thick double #32a1ce;
}

.Naver-Dict-tooltip-title .Naver-Dict-tooltip-title-text {
    font-weight: bold;
    font-size: 15px;
    margin-right: 4px;
}

.Naver-Dict-tooltip-title .Naver-Dict-tooltip-title-pronoun {
    font-size: 14px;
}

.Naver-Dict-tooltip-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    font-size: 12px;
}

.Naver-Dict-tooltip-body .Naver-Dict-tooltip-data {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
}
