.tooltip {
    width: 250px;
    z-index: 1000;
    position: absolute;
    height: 150px;
    background-color: #cfdfff;
    border: #7689fd solid 1px;
    border-radius: 3px;
    overflow: auto;
    opacity: 100 !important;
    display: flex;
    flex-direction: column;
}

.tooltip-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tooltip-title .text {
    font-weight: bold;
    font-size: 15px;
    margin-right: 4px;
}

.tooltip-title .pronoun {
    font-size: 14px;
}

.tooltip-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    font-size: 12px;
}

.tooltip-body .tooltip-data {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
}